@{
    ViewData["Title"] = "Not Found";
    Layout = "_Layout";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Not Found</h1>
                    <p class="text-center">Sorry, the item you requested could not be found.</p>
                </div>
            </div>
        </div>
    </div>
</div>
